
html, html[data-theme="dark"] {
  // local var
  --yellow-t: #fede5d99;
  --cyan-t: #03edf999;
  --purple: #b893ce;
  --fluopurple: #6923d3;
  --lightfluopurple-t: rgba(142, 69, 246, 0.5);
  --lightfluopurple-t-plus: rgba(142, 69, 246, 0.3);
  --lightfluopurple-t: rgba(142, 69, 246, 0.5);
  --darkpurple-t: rgba(142, 69, 246, 0.9);
  --filter-white: brightness(0) invert(1);
  --filter-white-shadow: brightness(0) invert(1) drop-shadow(0px 0px 5px white);
  --filter-purple: invert(75%) sepia(10%) saturate(1437%) hue-rotate(227deg) brightness(83%) contrast(92%);

  // colors
  --color: white;
  --color_html-div: var(--yellow-t);
  --color_html-class: var(--lightfluopurple-t);
  --color_html-class-name: var(--cyan-t);
  --color_menu-item: white;
  --color_title-scrabble: white;
  --color_title-scrabble-shadow: white;
  --color_details: white;
  --color_details_hover: white;
  --color_details-text-shadow_hover: white;
  --color_icon-sign-text-shadow_hover: white;
  --color_icon-sign_hover: white;
  --color_menu-item_hover: white;
  --color_menu-item-text-shadow_hover: white;
  --color_contact-text-shadow_hover: white;
  --color_button: white;
  --color_button_hover: white;
  --color_button-text-shadow_hover: white;
  --color_contact_hover: white;
  --color_copy: white;
  --color_copied: white;
  --color_company: var(--purple);
  --color_contact: var(--purple);
  --color_social-media: white;
  --color_burger: white;

  // backgrounds
  --background-image_app: url("../public/assets/img/wallpaper.jpg");
  --background-color_button_hover: rgba(255, 255, 255, 0.25);
  --background-color_copy: var(--lightfluopurple-t-plus);
  --background-color_copied: var(--lightfluopurple-t);
  --background-color_title-scrabble: var(--lightfluopurple-t);
  --background-color_burger: var(--darkpurple-t);
  --box-shadow-color_title-scrabble: white;

  // filters
  --filter-icon: var(--filter-white);
  --filter_icon_hover: var(--filter-white-shadow);
  --filter_icon-home: var(--filter-white);
  --filter_icon-home_hover: var(--filter-white-shadow);
  --filter_icon-crystal: var(--filter-purple);
  --filter_button_hover: var(--filter-white-shadow);
  --filter_photo_hover: opacity(0.85) grayscale(100%) drop-shadow(0 0 3px white);
  --filter_photo: sepia(100%) opacity(0.75) grayscale(100%) drop-shadow(0 0 5px var(--fluopurple));
}

html[data-theme="light"] {
  // local var
  --fluopurple: #6923d3;
  --lightfluopurple: rgb(142, 69, 246);
  --lightfluopurple-t: rgba(142, 69, 246, 0.5);
  --purple: #b893ce;
  --lightfluopurple-t-light: rgba(142, 69, 246, 0.8);
  --lightfluopurple-t-plus: rgba(142, 69, 246, 0.3);
  --darkpurple: #391272;
  --filter-fluopurple: invert(14%) sepia(71%) saturate(5166%) hue-rotate(263deg) brightness(99%) contrast(93%);
  --filter-lightfluopurple: invert(27%) sepia(71%) saturate(2881%) hue-rotate(252deg) brightness(99%) contrast(95%);
  --filter-white-shadow-fluopurple: brightness(0) invert(1) drop-shadow(0px 0px 5px var(--fluopurple));
  --filter-white-shadow-fluopurple-light : brightness(0) invert(1) drop-shadow(0px 0px 3px var(--fluopurple));

  // colors
  --darkpurple: #391272;
  // --color: black;
  --color: var(--darkpurple);
  --color_menu-item: var(--fluopurple);
  --color_social-media: var(--lightfluopurple);
  --color_button: var(--fluopurple);
  // --color_menu-item: var(--lightfluopurple);
  // --color_social-media: var(--lightfluopurple-t);
  // --color_button: var(--lightfluopurple);
  --color_title-scrabble: white;
  --color_title-scrabble-shadow: var(--fluopurple);
  --color_details: var(--fluopurple);
  --color_details_hover: white;
  --color_details-text-shadow_hover: var(--lightfluopurple-t);
  --color_icon-sign-text-shadow_hover: white;
  --color_icon-sign_hover: var(--fluopurple);
  --color_html-div: var(--lightfluopurple-t);
  --color_html-class: var(--lightfluopurple-t);
  --color_html-class-name: var(--fluopurple);
  --color_menu-item_hover: white;
  --color_menu-item-text-shadow_hover: var(--lightfluopurple);
  --color_contact-text-shadow_hover: var(--lightfluopurple);
  --color_contact: var(--fluopurple);
  --color_contact_hover: white;
  --color_company: var(--fluopurple);
  --color_copy: white;
  --color_copied: var(--lightfluopurple);
  --color_button_hover: white;
  --color_button-text-shadow_hover: white;
  --color_burger: var(--darkpurple);
 
  // backgrounds
  --background-image_app: unset;
  --background-color_button_hover: rgba(255, 255, 255, 0.25);
  --background-color_copy: var(--fluopurple);
  --background-color_copied: var(--lightfluopurple-t-plus);
  --background-color_title-scrabble: var(--lightfluopurple-t-plus);
  --background-color_burger: white;
  --box-shadow-color_title-scrabble: white;

  // filters
  --filter-icon: var(--filter-fluopurple);
  --filter-icon_hover: var(--filter-white-shadow-fluopurple);
  --filter_icon-home: var(--filter-white-shadow-fluopurple-light);
  --filter_icon-home_hover: var(--filter-white-shadow-fluopurple);
  --filter_icon-crystal: var(--filter-fluopurple);
  --filter_button_hover: var(--filter-white-shadow-fluopurple);
  --filter_photo_hover: opacity(0.7) brightness(150%) grayscale(80%) drop-shadow(0 0 4px var(--fluopurple));
  --filter_photo: opacity(0.5) brightness(150%) grayscale(80%) drop-shadow(0 0 4px var(--fluopurple));
}

/* 
General variables
*/
//colors
$fluopurple: #6923d3;
$darkfluopurple: #231e3f;
$darkpurple: #391272;
$darkpurple-t: rgba(57, 18, 114, 0.6);
$lightfluopurple: rgb(142, 69, 246);
$lightfluopurple-t-light: rgba(142,69,246,0.8);
$lightfluopurple-t: rgba(142, 69, 246, 0.5);
$lightfluopurple-t-plus: rgba(142,69,246,0.3);
$filter-white-shadow: brightness(0) invert(1) drop-shadow(0px 0px 5px white);
$filter_switch-theme-sun_hover: brightness(0) invert(1) drop-shadow(0px 0px 3px $fluopurple);
$filter_switch-theme-moon_hover: brightness(0) invert(1) drop-shadow(0px 0px 3px white);
// sizes
$limit_size_navigation: 750px;
$limit_size_content: 600px;

/* 
Theme variables
*/
// colors
$color: var(--color);
$color_menu-item: var(--color_menu-item);
$color_title-scrabble: var(--color_title-scrabble);
$color_title-scrabble-shadow: var(--color_title-scrabble-shadow);
$color_details: var(--color_details);
$color_details_hover: var(--color_details_hover);
$color_details-text-shadow_hover: var(--color_details-text-shadow_hover);
$color_icon-sign-text-shadow_hover: var(--color_icon-sign-text-shadow_hover);
$color_icon-sign_hover: var(--color_icon-sign_hover);
$color_html-div: var(--color_html-div);
$color_html-class: var(--color_html-class);
$color_html-class-name: var(--color_html-class-name);
$color_menu-item_hover: var(--color_menu-item_hover);
$color_menu-item-text-shadow_hover: var(--color_menu-item-text-shadow_hover);
$color_contact-text-shadow_hover: var(--color_contact-text-shadow_hover);
$color_contact: var(--color_contact);
$color_contact_hover: var(--color_contact_hover);
$color_company: var(--color_company);
$color_copy: var(--color_copy);
$color_copied: var(--color_copied);
$color_button: var(--color_button);
$color_button_hover: var(--color_button_hover);
$color_button-text-shadow_hover: var(--color_button-text-shadow_hover);
$color_social-media: var(--color_social-media);
$color_social-media: var(--color_social-media);
$color_social-media: var(--color_social-media);
$color_burger: var(--color_burger);
// backgrounds
$background-image_app: var(--background-image_app);
$background-color_button_hover: var(--background-color_button_hover);
$background-color_copy: var(--background-color_copy);
$background-color_copied: var(--background-color_copied);
$background-color_title-scrabble: var(--background-color_title-scrabble);
$background-color_burger: var(--background-color_burger);
$box-shadow-color_title-scrabble: var(--box-shadow-color_title-scrabble);
// filters
$filter-icon: var(--filter-icon);
$filter-icon_hover: var(--filter-icon_hover);
$filter_icon-home: var(--filter_icon-home);
$filter_icon-home_hover: var(--filter_icon-home_hover);
$filter_icon-crystal: var(--filter_icon-crystal);
$filter_button_hover: var(--filter_button_hover);
$filter_photo_hover: var(--filter_photo_hover);
$filter_photo: var(--filter_photo);

.App {
  background-image: $background-image_app;
  background-size: 120% auto;
  text-align: center;
  // min-height: 100%;
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto Mono';
  color: $color;

  .App-header {
    font-size: 16px;
    align-items: center;
    justify-content: center;
  
    .title {
      font-size: 22px;
      position: relative;
      float: left;
      padding-top: 0px;
      padding-bottom: 0px;
  
      .main-title {
        &:hover {
          // background-color: rgba(255, 255, 255, 0.25);
          // border: 1px solid white;
          // box-shadow:
          // 0 0 7px #fff,
          // 0 0 10px #fff;
          // 0 0 21px #0fa;
          img {
            filter: $filter_icon-home_hover;
            -webkit-filter: $filter_icon-home_hover;
          }
        }
        padding: 0.8rem 0rem 0.4rem 0.4rem;
  
        img {
          width: 3.5rem;
          // height: 26px;
          // height: 35px;
          vertical-align: text-bottom;
          margin-right: 0.5rem;
          filter: $filter_icon-home;
          -webkit-filter: $filter_icon-home;
        }
      }
    }
    .menu {
      position: relative;
      float: right;
  
      .menu-item {
        margin-left: 1.5rem;
        margin-right: 0;
        color: $color_menu-item;
        text-decoration: none;
        font-family: 'Roboto Mono';
  
        &.switch-language:hover {
          cursor: pointer;
        }
      }
      .menu-item:hover {
        color: $color_menu-item_hover;
        text-shadow:
          0 0 7px $color_menu-item-text-shadow_hover,
          0 0 10px $color_menu-item-text-shadow_hover,
          0 0 21px $color_menu-item-text-shadow_hover,
          0 0 42px $color_menu-item-text-shadow_hover;
      }
      &.menu-burger {
        color: $color_button;

        &:hover {
          cursor: pointer;
          svg {
            filter: $filter_button_hover;
            -webkit-filter: $filter_button_hover;
          }
          color: $color_button_hover;
        }
        svg { 
          width: 2rem;
          height: 2rem;
        }
       
      }
    }
    .modal {
      display: none;
      &.isClosed {
        display: none;
      }
      &.isOpen {
        display: block;
      }
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal-content {
      color: $color_burger;
      background-color: $background-color_burger;
      padding: 20px;
      width: 100%;
      height: 100%;

      .grid-y {
        min-height: 100%; /*full-screen*/
        height: 0; /*full-screen*/

        .cell {
          /*color: cf. menu-item*/
          font-size: 1.2rem;
          margin-left: 0;

          &.close {
            font-size: 3rem;
            font-weight: bold;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .App-main {
    font-size: 12px;
    // padding-bottom: 86px + 40px; //86px is footer width
    // padding-top: 40px;
    // min-height: 100vh;
    padding-bottom: 86px;
  
    .home, .experience, .education, .contact, .projects {
      font-size: 16px;
  
      .title-scrabble {
        font-size: 2rem;
        padding: 0 22px 0 22px;
        width: fit-content;
        font-weight: bolder;
        text-transform: uppercase;
        font-style: normal;
        background-color: $background-color_title-scrabble;
        color: $color_title-scrabble;
  
        text-shadow:
          0 0 7px $color_title-scrabble-shadow;
          // 0 0 10px #fff;
  
        box-shadow:  
          0 0 7px $box-shadow-color_title-scrabble,
          0 0 10px $box-shadow-color_title-scrabble;
      }
      .title-html {
        align-items: start;
  
        .row {
          font-size: 1.2rem;
  
          .blue, .grey {
            
            color: $color_html-div;
          }
          .lightblue {
            
            color: $color_html-class;
  
          }
          .orange {
            color: $color_html-class-name;
            
          }
          .white {
            font-weight: bolder;
            color: $color;
          }
          &.one {margin-left: 2rem;}
          &.two {margin-left: 4rem;}
          &.three {margin-left: 6rem;}
          &.text-typing p {
            margin: 0px;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(22,end) forwards, blink 0.5s infinite;
          }
        }
      }
      .description {
        text-align: left;
  
        .text {
          margin-top: 1rem;
          font-size: 16px;
          text-align: left;
        }
        .icon {
          filter: $filter-icon;
          -webkit-filter: $filter-icon;
          margin-right: 0.5rem;
          width: 1.3rem;
        }
        svg.icon {
          height: 1.3rem;
        }
      }
      a {
        color: $color;
      }
    }
    .experience, .education, .projects {
  
      .top-page {
        margin-bottom: 2rem;
        
        .page-title {
          text-align: left;
        }
        .buttons {
          position: relative;
    
          .buttons-content {
            position: absolute;
            bottom: 0;
            right: 0;
          
            button {
              color: $color_button;
              padding: 0.5rem;
              margin-left: 0.7rem;
              border: 1px solid white;
  
              svg {
                height: 1.25rem;
                width: 1.25rem;
              }
              &:hover {
                svg {
                  filter: $filter_button_hover;
                  -webkit-filter: $filter_button_hover;
                }
                color: $color_button_hover;
                cursor: pointer;
                background-color: $background-color_button_hover;
                text-shadow:
                  0 0 7px $color_button-text-shadow_hover,
                  0 0 10px $color_button-text-shadow_hover,
                  0 0 21px $color_button-text-shadow_hover,
                  0 0 42px $color_button-text-shadow_hover;
              }
            }
          }
        }
      }
      .accordion {
        padding: 14px 22px 14px 22px;
        cursor: pointer;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.75s;
        margin-bottom: 1rem;
        color: $color;
        font-weight: bolder;
        background-color: $lightfluopurple-t-plus;
  
        &.accordion:hover {
          background-color: $lightfluopurple-t;
        }
        &.active {
          margin-bottom: 0.75rem;  // transition
        }
  
        &:hover {
          .sign {
            color: $color_icon-sign_hover;
            text-shadow:
            0 0 7px $color_icon-sign-text-shadow_hover,
            0 0 10px $color_icon-sign-text-shadow_hover,
            0 0 21px $color_icon-sign-text-shadow_hover,
            0 0 42px $color_icon-sign-text-shadow_hover;
          }
        }
        .job-position {
          color: $color;
        }
        .company {
          color: $color_company;
        }
        .date {
          text-align: right;
        }
        .sign {
          font-size: 1.2rem;
          padding-left: 1.5rem;
        }
      }
      .panel {
        padding: 22px;
        background-color: $lightfluopurple-t-light;
        background-color: $lightfluopurple-t;
        display: none;
        overflow: hidden;
        color: $color;
        margin-bottom: 16px;

        svg {
          // to correctly apply filter color inverter futher
          color: black; 
        }
        .description {
          padding-right: 0;
  
          .details, .text {
            margin-bottom: 0.5rem;
          }
          .details {
            .location, .prize, .website {
              margin-right: 2rem;
            }
          }
        }
        .photo {
          display: flex;
          justify-content: center;
          align-items: center;
    
          img {
            width: 10rem;
            &.img-school {width: 8rem;}
            &.img-project {width: unset;}
            margin: auto;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .tags {
        .tag {
          display: inline-block;
          margin: 0.5rem 0.75rem 0.5rem 0;
          padding: 0.25rem 0.5rem 0.25rem 0.5rem;
          border-radius: 20px;
          color: rgba(255, 255, 255, 0.75);
          &.tool {
            background-color: $fluopurple;
          }
          &.project {
            padding: 0.35rem 0.5rem 0.35rem 0.5rem;
            cursor: pointer;
            background-color: $darkpurple;
            border: 1px solid $darkpurple;
            color: white;
  
            &:hover {
              color: white;
              text-shadow:
                0 0 7px #fff,
                0 0 10px #fff,
                0 0 21px #fff;
              box-shadow:
                0 0 7px #fff,
                0 0 10px #fff;
            }
          }
        }
      }
      .website, .video, .related, .repository {
        
        a, div, span {
          color: $color_details;
        }
        &:hover {
          a, div, span {
            color: $color_details_hover;
          }
          cursor: pointer;
          text-shadow:
            0 0 7px $color_details-text-shadow_hover,
            0 0 10px $color_details-text-shadow_hover,
            0 0 21px $color_details-text-shadow_hover;
          
          img, svg {
            filter: $filter-white-shadow;
            -webkit-filter: $filter-white-shadow;
          }
        }
  
      }
      img.icon, svg.icon {
        filter: $filter-icon;
        -webkit-filter: $filter-icon;
        margin-right: 0.5rem;
      }
      .svg-location {
        width: 1.7rem;
        height: 1.7rem;
      }
      svg.icon.svg-role {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .projects {
      .projects-grid {
        margin: -10px;
  
        .project:hover {
          .project-overlay {
            opacity: 1;
            cursor: pointer;
            line-height: 1.75rem;
            text-shadow:
              0 0 7px #fff;
          }
          .project-cell {
            opacity: 0.2;
            // filter: $filter-white-shadow;
            // -webkit-filter: $filter-white-shadow;
            box-shadow:
              0 0 7px #fff,
              0 0 10px #fff,
              0 0 21px #fff,
              0 0 42px #fff,
              0 0 82px #fff,
              0 0 92px $darkfluopurple,
              0 0 102px $darkfluopurple,
              0 0 151px $darkfluopurple;
          }
        }
        .project {
          position: relative;
          float: left;
          min-height: 1px;
          padding: 10px;
  
          .project-cell {
            .image {
              display: block;
              width: 100%;
              height: auto;
              border: 2rem solid $lightfluopurple-t-plus;
            }
            .title {
              background-color: $lightfluopurple-t-plus;
              font-size: 16px;
              color: $color;
              text-decoration: none;
              padding: 1rem;
            }
          }
          .project-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
  
            .text {
              color: $color;
              font-weight: bolder;
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              text-align: center;
            }
          }
        }
      }
      .projects-list {
        .panel {
          .details {
            .website, .related, .video {
              margin-right: 2rem;
            }
          }
          .tags {
            margin-top: 1.5rem;
          }
          .photo {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
    .about, .contact {
      .title-scrabble {
        // margin: auto;
        margin-bottom: 2rem;
      }
      .description {
        // width: fit-content;
        background-color: $lightfluopurple-t-plus;
        padding: 1.5rem;
        padding-right: 2rem;
        // margin-right: 1.75rem;
        
        &.about-description {
          padding: 1.5rem;
          padding-left: 2rem;
          // margin-left: 2.5rem;
  
          .text {
            margin-bottom: 1.5rem;
          }
        }
        .text {
          margin-top: 0;
        }
        .links {
          margin-top: 1.5rem;
  
          a { // laaaaaa
            color: $color_contact;

            .social-media-text {
              margin-left: 0.5rem;
              div { 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            svg {
              font-size: 1.2rem;
            }
          }
          a:hover, a.fakeOnHover {
            cursor: pointer;
            color: $color_contact_hover;
            text-shadow:
              0 0 7px $color_contact-text-shadow_hover,
              0 0 10px $color_contact-text-shadow_hover,
              0 0 21px $color_contact-text-shadow_hover,
              0 0 42px $color_contact-text-shadow_hover;
  
            svg {
              filter: $filter-icon_hover;
              -webkit-filter: $filter-icon_hover;
            }
          }
          .business-card {
            position: relative;
            color: $color_contact;
  
            svg {
              font-size: 1.2rem;
              // width: 1.5rem;
              // height: 1.5rem;
            }
            span {
              margin-left: 0.5rem;
            }
  
            &:hover {
              cursor: pointer; // copy;
              // color: $color_contact_hover; // laaaa
              // color: $color_menu-item_hover;
              // text-shadow:
              //   0 0 7px $color_menu-item-text-shadow_hover,
              //   0 0 10px $color_menu-item-text-shadow_hover,
              //   0 0 21px $color_menu-item-text-shadow_hover,
              //   0 0 42px $color_menu-item-text-shadow_hover;
  
  
            }
            &:hover::after {
              content: attr(data-descr);
                position: absolute;
                left: 13rem;
                text-shadow: none;
                padding: 0.2rem;
                font-size: 0.75rem;
                z-index: 1;
                background-color: $background-color_copy;
                color: $color_copy;
            }
            &.isCopied:hover::after {
              background-color: $background-color_copied;
              color: $color_copied;
            }
            &.isCopied:hover {
              cursor: default;
            }
          }
        }
        .location {
          margin-top: 2rem;
  
          img {
            width: 1rem;
          }
        }
        // .photo img {
        //   max-height: 100%;
        //   max-width: 40%;
        //   position: absolute;
        // }
        .img-bracket {width: 1.5rem;}
        .img-rocket {width: 1.3rem;}
        .img-daily {width: 1.6rem;}
        .img-pin {width: 1.5rem;}
        .img-crystal {width: 1.7rem;}
        .img-crystal {
          filter: $filter_icon-crystal;
          -webkit-filter: $filter_icon-crystal;
        }
        .contact-page-link {
          &.text { 
            margin-bottom: 0;
          }
          .contact-text {
            text-align: center;
  
            div { 
              color: $color_contact; 
            }
          }
        }
        .contact-page-link:hover {
          cursor: default;
  
          .img-crystal {
            cursor: default;
            // filter: $filter-icon_hover;
            // -webkit-filter: $filter-icon_hover;
          }
          // .contact-text {
            // div {
              // color: $color_contact_hover; // laa
            // }
          // }
        }
      }
      .photo {
        display: flex;
        justify-content: center;
        align-items: center;
  
        img {
          -webkit-filter: $filter_photo_hover;
          filter: $filter_photo_hover;
          max-height: 100%;
          max-width: 13%;
          position: absolute;
        }
  
        &:not(.fakeOnHover) {
          img {
            -webkit-filter: $filter_photo;
            filter: $filter_photo;
          }
        }
  
  
      }
    }
    .home {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Roboto Mono';
  
      .title-scrabble {
        font-size: 3rem;
        margin: 2rem 0 3rem 0;
  
        span { 
          width: 3rem;
        }
      }
    }
  }
  .App-footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
  
    .author {
      font-size: 12px;
      position: relative;
      float: left;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .switch {
      position: absolute;
      right: 40%;
      left: 40%;
      font-size: 16px;

      input~.switch-paddle {
          background-color: $background-color_title-scrabble;
          color: $color_title-scrabble;
          text-shadow:
            0 0 7px $color_title-scrabble-shadow;
          // box-shadow:  
            // 0 0 7px $box-shadow-color_title-scrabble,
            // 0 0 10px $box-shadow-color_title-scrabble;

          &:hover {
            svg {
              filter: $filter_switch-theme-moon_hover;
            }
          }
          svg {
            filter: $filter_switch-theme-sun_hover;
            font-size: 1.5rem;
            display: block;
            margin: auto;
          }
          .switch-active {
            left: 8%;
          }
          .switch-inactive {
            right: 10%;
          }
      }
      
    }
    .social-media {
      position: relative;
      float: right;
      padding-top: 0px;
      padding-bottom: 0px;
  
      .social-media-link {
        color: $color_social-media;
        margin-left: 0.2rem;

        &:hover svg {
          filter: $filter-icon_hover;
          -webkit-filter: $filter-icon_hover;
        }
        .social-media-icons {
          font-size: 1.2rem;
          margin-left: 1rem;
        }
      }
  
    }
  }
  .container {
    position: relative;
  }
  .App-header .container, .App-footer .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .App-main .container {
    margin-left: 15%;
    margin-right: 15%;
  }
  .content-header, .content-footer {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
}
@media screen and (max-width: 1240px) {
  .App-main .contact .photo img {
    display: none;
  }
}
@media screen and (min-width: $limit_size_navigation) {
  .App-header .menu-burger {
    display: none;
  }
}
@media screen and (max-width: $limit_size_navigation) {
  .App-header .menu-wide {
    display: none;
  }
}
@media screen and (max-width: $limit_size_content) {
  .App {
    .App-header .title .main-title img {
      width: 2.5rem;
    }
    .App-header .container,
    .App-footer .container {
      margin-left: 5%;
      margin-right: 5%;
    }
    .App-main {
      .container {
        margin-left: 5%;
        margin-right: 5%;
      }
      .experience, .education, .projects, .contact {
        font-size: 12px;

        .title-scrabble {
          font-size: 1.5rem;
        }
        .description .text {
          font-size: 12px;
        }
      }
      .home .title-html .row {
        font-size: 0.75rem;
      }
      .home .title-scrabble {
        font-size: 1.5rem;
      }
      .experience, .education, .projects {
        .panel .photo img {
          width: 7rem;
          margin-top: 1rem;
        }
        .tags .tag {
          margin: 0.25rem 0.35rem 0.25rem 0;
        }
        .panel .description .details .cell {
          margin-top: 0.15rem;
        }
      }
      .experience .description svg.icon {
        height: 1rem;
      }
      .projects .projects-grid .project {
        padding: 5px;
        .project-cell .image {
          border-width: 0.25rem;
        }
      }
      .contact .description.about-description {
        margin-top: 1.5rem;
      }
      .contact .description .links .link {
        margin-top: 0.25rem;
      }
    }
    .App-footer {
      .social-media .social-media-link .social-media-icons {
        font-size: 1rem;
        margin-left: 0.5rem;
      }
      .author {
        font-size: 8px;
      }
    }

  }
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid rgba(205, 205, 205, 0.5);
  }
  50% {
    border-right:2px solid #222;
  }
}