// $base-color: #c6538c;
$grey: rgba(104, 104, 104, 1);
$greyT: rgba(104, 104, 104, 0.6);
$blue: rgba(76, 145, 211, 1);
$blueT: rgba(76, 145, 211, 0.6);
$lightblue: rgba(145, 214, 255, 1);
$lightblueT: rgba(145, 214, 255, 0.6);
// $orange: rgba(196, 133, 106, 1);
$orangeT: rgba(196, 133, 106, 0.6);

$yellow: #fede5d;
$pink: #ff7edb;
$cyan: #03edf9;
$salmon: #f97e72;
$orange: #ee873c;
$mint: #72f1b8;
$purple: #b893ce;
$bluepurple: #7a80b2;
$fluopurple: #6923d3;
$darkfluopurple: #231e3f;
$darkpurple: #232530;
$darkerpurple: #241b2f;
$darkgrey: #333539;

$pink-t: #ff7edb99;
$mint-t: #72f1b899;
$cyan-t: #03edf999;
$yellow-t: #fede5d99;

$lightfluopurple: rgba(142,69,246,1);
$lightfluopurple-t: rgba(142,69,246,0.6);


.App {
  background-color: rgba(23,13,26,1);
  background-color: $darkerpurple;
  color: white;
  // background-color: rgba(40,20,28,1);
}

.App {
  &.HomeIsActive {
    background-image: url("../public/assets/img/fond.jpg");
    background-image: url("../public/assets/img/fond copie.jpg");
    //   // linear-gradient(rgba(255,255,0,1),rgba(0,0,255,1)),
    //   linear-gradient(rgba(0,0,0,1),rgba(0,200,1,1)),
    //   // linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1)),
    //   // linear-gradient(yellow,blue),
    //   // url("../public/assets/img/test.png");
    background-size: cover;
    // background-blend-mode: saturation;
  }
  text-align: center;
  // min-height: 100%;
  position: relative;
  min-height: 100vh;
  font-family: 'Roboto Mono';
}
.App-header {
  font-size: 16px;
  // font-size: 12px;
  align-items: center;
  justify-content: center;

  &.HomeIsActive {
    color: white;
  }

  .title {
    font-size: 22px;
    position: relative;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;

    .main-title {
      &:hover {
        // background-color: $darkgrey;
        // background-color: $bluepurple;
        // background-color: $lightfluopurple; //$pink-t;
        // margin: 1px;
        border: 1px solid white;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #0fa,
        // 0 0 42px #0fa,
        // 0 0 82px #0fa,
        // 0 0 92px #0fa,
        // 0 0 102px #0fa,
        // 0 0 151px #0fa;
      }
      padding: 0.8rem;
      padding-right: 0.4rem;

      img {
        height: 26px;
        height: 35px;
        vertical-align: text-bottom;
        margin-right: 0.5rem;
        
        // &.HomeIsActive {
        filter: brightness(0) invert(1);
        // }
      }
    }
  }
  .menu {
    position: relative;
    float: right;
    // padding-top: 2px;
    // padding-bottom: 2px;

    .menu-item {
      margin-left: 1.5rem;
      margin-right: 0;
      // color: unset;
      color: white;
      // text-transform: uppercase;
      text-decoration: none;
      font-family: 'Roboto Mono';
    }
    .menu-item:hover {
      // background-color: rgba(51,53,57,1);
      // background-color: $bluepurple;
      // background-color: $pink-t;
      // background-color: $lightfluopurple; //$pink-t;
      text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      // 0 0 82px #0fa,
      // 0 0 92px #0fa,
      // 0 0 102px #0fa,
      // 0 0 151px #0fa;
    }
    // &:not(.HomeIsActive) .menu-item:hover {
    //   color: white;
    // }
  }
}
.App-main {
  font-size: 12px;
  padding-bottom: 86px + 40px; //86px is footer width
  padding-top: 40px;
  // min-height: 100vh;

  .projects {
    .row {
      margin-left: -10px;
      margin-right: -10px;
      
      .row-item {
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;

        .thumbnail:hover {
          // box-shadow: inherit inherit grey;
          box-shadow: unset;
          background-color: black;
          border: solid 4px black;

          // img {
            // max-width: 98%;
            // opacity: 0.75;
          // }
        }

        .thumbnail:not(.thumbnail:hover) {
          box-shadow: unset;

          .row-item-title {
            color: white;
          }
        }

        .row-item-title {
          margin-top: 13px;
          margin-bottom: 33px;
          // font-family: Montserrat, sans-serif;
          // font-size: 1rem;
          color: white;
          text-decoration: none;
          // text-transform: uppercase;
          padding-top: 1rem;
        }
      }
    }
  }
  .experience {
    font-size: 16px;
    font-weight: bolder;

    .top-page {
      margin-bottom: 2rem;
      .page-title {
        font-size: 18px;
        text-align: left;
        // text-shadow:
        //   0 0 7px #fff,
      }
      .buttons {
        text-align: right;
        .button-collapser, .button-expander {
          color: white;
          padding: 0.5rem;
          margin-left: 0.7rem;
          border: 1px solid white;

          &:hover {
            cursor: pointer;
            background-color: white;
            color: $darkfluopurple;
            border-color: $darkfluopurple;
          }
        }
      }
    }
    .accordion {
      cursor: pointer;
      padding: 14px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
      margin-bottom: 1rem;

      &.active, &.accordion:hover {
        // background-color: #ccc;
        background-color: $bluepurple;
        background-color: $lightfluopurple;
        // color: black;
      }

      &:not(.active).accordion:hover {
        .date .sign {
          text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
        }
      }

      background-color: $fluopurple;
      background-color: $bluepurple;
      background-color: $pink-t;
      background-color: $lightfluopurple-t; //

      color: white;
      font-weight: bolder;

      .job-position {
        color: white;
      }
      .company {
        color: $darkfluopurple;
      }
      .date {
        // color: ;
        text-align: right;
        
        .sign {
          // color: $pink;
          // color: $mint;
          font-size: 1.2rem;
          padding-left: 1.5rem;
          // text-shadow:
          // 0 0 7px #fff,
          // 0 0 10px #fff,
          // 0 0 21px #fff,
          // 0 0 42px #0fa,
          // 0 0 82px #0fa,
          // 0 0 92px #0fa,
          // 0 0 102px #0fa,
          // 0 0 151px #0fa;
        }
      }
    }
    .panel {
      padding: 0 18px;
      // background-color: white;
      display: none;
      overflow: hidden;
      color: white;
    }
  }
  .project, .projects, .experience, .education {
    .photo {
      padding-left: 1.3rem;
    }
    .description {
      padding-right: 1.3rem;
      text-align: left;

      .title {
        text-transform: uppercase;
        color: grey;
        font-size: 1.2rem;
      }
      .subtitle {
        color: grey;
      }
      .text {
        margin-top: 1rem;
      }
    }
  }
  .education {
    .row {
      margin-bottom: 1.3rem;
      padding: 15px;

      .description {
        color: black;
      }
      
      &:hover {
        color: white;
        background-color: black;
        .description {
          color: white;
        }
      }
    }
  }
  .about {
    .photo {
      padding-right: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        -webkit-filter: grayscale(100%); /* Pour les navigateurs Chrome, Safari, Opera */
        filter: grayscale(100%); /* Firefox */
        max-height: 300px;
      }
    }
    .description {
      padding-left: 1.3rem;
      text-align: left;

      .title {
        text-transform: uppercase;
        color: grey;
        font-size: 1.2rem;
      }
      .date {
        color: grey;
      }
      .text {
        margin-top: 1rem;
        
        .contact-page-link {
          font-size: medium;
          // color: purple;
          color: #710070;
          &:hover {
            // text-decoration: underline;
            background-color: #a5ffa5;
          }
        }
      }
    }
  }
  .contact {
    .info {
      text-align: left;

      .title {
        text-transform: uppercase;
        color: grey;
        font-size: 1.2rem;
      }
      .text {
        margin-top: 1rem;

        .links {
          margin-top:1.5rem;
          font-size: medium;

          .linkedin a {
            color: #0e76a8;
            &:hover {
              // text-decoration: underline;
              background-color: #dde7f0;
            }
          }
          .github a {
            color: #6e5494;
            &:hover {
              // text-decoration: underline;
              background-color: #e6e1ed;
            }
          }
        }
      }
    }
    .carte {
      max-height: fit-content;
      img {
        max-height: 20rem;
      }
    }
  }
  .home {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto Mono';

    .container-title {
      .title-name {
        margin-top: 2rem;
        font-size: 2.5rem;
        font-style: italic;
  
        span { 
          display: block;
          width: 3rem;
          // width: 50px;
          float: left;
          background-color: rgba(256,256,256,1);
          // background-color: rgba(205, 240, 234, 0.7);
          color: black;
          margin-right: 10px;
          padding: 5px;
        }
      }
      .title-html {
        align-items: start;

        .row {
          font-size: 1.2rem;
          // .grey {
            // color: rgba(104, 104, 104, 0.6);
            // color: $pink-t;
          // }
          .blue, .grey {
            color: rgba(76, 145, 211, 0.6);
            color: $pink-t;
            color: $yellow-t;
          }
          .lightblue {
            color: rgba(145, 214, 255, 0.6);
            color: $mint-t;
            color: $lightfluopurple-t;

          }
          .orange {
            color: rgba(196, 133, 106, 0.6);
            color: $cyan-t; 
            
          }
          .white {
            font-weight:bolder;
            color: white;
          }
          &.one {margin-left: 2rem;}
          &.two {margin-left: 4rem;}
          &.three {margin-left: 6rem;}
          &.text-typing p {
            margin: 0px;
            white-space: nowrap;
            overflow: hidden;
            animation: typing 2s steps(22,end) forwards, blink 0.5s infinite;
          }
        }
      }
    }
  }
}
.App-footer {
  &.HomeIsActive {color: white;}
  // &:not(.HomeIsActive) .social-media .social-media-link {color: black;}
  .social-media .social-media-link {color: white;}

  margin-top: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;

  .author {
    position: relative;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .social-media {
    position: relative;
    float: right;
    padding-top: 0px;
    padding-bottom: 0px;

    .social-media-link {
      .social-media-icons {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
    }

  }
}
.container {
  position: relative;
}
.App-header .container, .App-footer .container {
  margin-left: 3rem;
  margin-right: 3rem;
}
.App-main .container {
  margin-left: 15%;
  margin-right: 15%;
}
.content-header, .content-footer {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }
}
@keyframes typing {
  0% { width:0% }
  100% { width:100% }
}
@keyframes blink {
  0%,100% {
    border-right:2px solid rgba(205, 205, 205, 0.5);;
    // border-right:2px solid transparent;
  }
  50% {
    border-right:2px solid #222;
  }
}
